.notifications {
    background-color: var(--color-white);
    padding-block: 1.5rem 1.9375rem;
    padding-inline: 1rem;

    @media (--mobile) {
        width: min(100vw - 3em, 45.625rem);
        margin: 0 auto;
        padding-block: 2rem 0;
        padding-inline: 1.875rem;
        box-shadow: rgba(149, 157, 165, 7.5%) 0 8px 32px;
        border-radius: var(--rounded-base);
    }

    &__header {
        margin-block-end: 1.5rem;
        display: flex;
        align-content: center;
        justify-content: space-between;

        @media (--mobile) {
            padding-inline-start: 0.0625rem;
            margin-block-end: 1.875rem;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        color: var(--color-gray-900);
        font-weight: var(--font-extrabold);
        font-size: var(--text-md);
        line-height: 1.5625rem;

        @media (--mobile) {
            font-size: 1.5rem;
            line-height: 2rem;
        }

        &--counter {
            color: var(--color-white);
            background-color: var(--color-blue-500);
            line-height: var(--leading-none);
            padding-block: 0.25rem 0.3125rem;
            padding-inline: 0.6875rem;
            font-size: var(--text-base);
            border-radius: var(--rounded-base);
            margin-inline-start: 0.8125rem;
        }
    }

    &__dismiss-btn {
        padding: 0.5rem;
        margin-inline-end: -0.5rem;
        border-radius: var(--rounded-sm);
        color: var(--color-gray-500);
        transition-property: background-color, color;
        transition-duration: 150ms;
        transition-timing-function: ease;

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }

        @media (--mobile) {
            line-height: 1.4375rem;
        }

        @media (hover: hover) {
            &:hover {
                background-color: var(--color-blue-500);
                color: var(--color-white);
            }
        }
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-block: 1rem;
        padding-inline: 1rem 0.75rem;
        border-radius: var(--rounded-base);
        transition: background-color 200ms ease;

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }

        @media (--mobile) {
            padding-block: 1rem;
            padding-inline: 1.25rem;

            &:nth-child(5),
            &:nth-child(6) {
                padding-block-start: 1.125rem;
            }

            &:nth-child(7) {
                padding-block-start: 1.1875rem;
            }
        }

        &.new {
            background-color: var(--color-gray-50);
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
    }

    &__item.new .notification__description::after {
        content: "";
        display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: var(--rounded-full);
        background-color: var(--color-red);
        margin-inline-start: 0.375rem;
        margin-block-end: 0.0625rem;
    }

    &__content {
        display: flex;
    }

    &__avatar {
        height: 2.4375rem;
        margin-inline-end: 0.8125rem;

        @media (--mobile) {
            height: 2.8125rem;
            margin-block-start: 0.0625rem;
            margin-inline-end: 1.1875rem;
        }
    }

    &__timestamp {
        color: var(--color-gray-500);
    }

    &__description {
        letter-spacing: var(--tracking-text);
        line-height: 1.125rem;
        margin-block-end: 0.25rem;
    }

    &__user-link {
        font-weight: var(--font-extrabold);
        color: var(--color-gray-900);
        margin-inline-end: 0.4375rem;

        @media (hover: hover) {
            &:hover {
                text-decoration: underline;
                color: var(--color-blue-500);
            }
        }
    }

    &__post-link {
        font-weight: var(--font-extrabold);
        color: var(--color-gray-500);
        margin-inline-start: 0.3125rem;

        @media (hover: hover) {
            &:hover {
                text-decoration: underline;
                color: var(--color-blue-500);
            }
        }
    }

    &__group-link {
        font-weight: var(--font-extrabold);
        color: var(--color-blue-500);
        margin-inline-start: 0.3125rem;

        @media (hover: hover) {
            &:hover {
                text-decoration: underline;
                color: var(--color-blue-500);
            }
        }
    }

    &__message {
        margin-block-start: 0.75rem;

        @media (--mobile) {
            margin-block-start: 0.9375rem;
        }
    }

    &__message--link {
        display: block;
        border-radius: var(--rounded-sm);
        border: 1px solid var(--color-gray-100);
        padding-block: 0.9375rem;
        padding-inline: 0.9375rem 1rem;
        transition: background-color 150ms ease;

        @media (prefers-reduced-motion: reduce) {
            transition: none;
        }

        @media (--mobile) {
            padding-block: 1rem 1.0625rem;
            padding-inline: 1.1875rem 1.75rem;
            line-height: 1.3125rem;
        }

        @media (hover: hover) {
            &:hover {
                background-color: var(--color-gray-75);
            }
        }
    }

    &__media {
        margin-inline-start: 1rem;
        border-radius: var(--rounded-base);

        @media (--mobile) {
            margin-block-start: 0.0625rem;
        }

        &--link {
            border-radius: inherit;
            display: block;

            @media (hover: hover) {
                &:hover {
                    outline: 3px solid var(--color-gray-400);
                    outline-offset: 3px;
                }
            }
        }

        &--image {
            height: 2.8125rem;
            border-radius: inherit;
        }
    }
}
